#masthead {
    height: 60vh;
    margin-top: 50px;
    background: url('../../img/home-masthead.jpg') center no-repeat;
    @include backgroundSize(cover);
    background-attachment: fixed;
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    position: relative;

    .cover {
        z-index: 1
    }

    .wrapper {
        z-index: 2
    }

    p {
        font-size: 65px;
        font-family: $heading;

    }
            
    @media (max-width: $medium) {
        height: 100vh;
        background-attachment: unset;
        
        p {
            font-size: 48px
        }
    }
}