.blog #content {
    margin-top: 80px;
}

.share, .view-all{
    color: #498cca;
    font-size: 15px !important;
    font-family: $heading;
    font-weight: 700;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.news-featured-image {
    display: flex;
    flex-wrap: wrap;

    img {
        width: 100%;
        align-self: center;
    }

    .tag {
        margin-left: auto;
    }

}

.articles {
    margin-top: $pad;
}

.tag {
    background: $green;
    color: #FFF;
    text-align: center;
    padding: 4px 2em;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .2em;
}

.single-post #content {
    padding-bottom: 40px;
}

.article {
    border-top: 1px solid #e4e5e3;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    font-family: $heading;
    text-align: left;

    &:not(:first-of-type) {
        margin-top: 40px;

        figure {
            width: 25%;
        }

        .excerpt a {
            font-size: 22px;
        }
    }

    .excerpt {
        padding: 35px;

        a {
            color: $blue;
            font-size: 44px;
            font-weight: 700;
            line-height: 1.25;
            letter-spacing: 0;
            text-transform: capitalize;
        }


    }
    .excerpt, figure {
        width: 50%;
    }

    figure img {
        width: 100%
    }

    @media (max-width: $small) {
        .excerpt a {
            margin-top: 10px;
            display: block;
            font-size: 22px;
        }

        .filters-wrapper & figure {
            width: 100% !important;
        }
    }

    .meta {
        color: #878b8c;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: .2em;
        font-size: 12px;
    }

    .tag {
        position: absolute;
        top: 0;
        right: 0;
    }

    @media (max-width: $small) {
        .excerpt, figure {
            width: 100% !important;
        }

        .excerpt {
            padding: $pad
        }
    }
}

.single-article {
    margin-top: $pad;
    border-top: 0;
    padding-bottom: 40px
}
