.leaders {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    figure {
        width: 33%;
        padding: $pad;

        .leader-image {
            @include borderRadius(100%);
            @include sq(200px);
            position: relative;
            margin: 0 auto;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        strong {
            color: #878b8c;
            font-size: 12px;
            text-transform: uppercase;
            letter-spacing: .2em;
            font-weight: 600;
            font-family: $heading;
        }

        @media (max-width: $small) {
            width: 100%
        }
    }

    .mail-icon {
        display: inline-block;
        height: 22px;
        width: 32px;
    }

    figcaption {
        margin-top: 30px;
    }
}
